<div class="container">
  <h1>投稿一覧</h1>
    <ul class="post-list">
      <% @posts.each do |post| %>
        <li class="post">
        <% if post.image.attached? %>
        <%= image_tag post.image, class: "post-image" %>
          <% end %>
    <p>道具名：<%= post.item_name %></p>
    <p>説明：<%= post.description %></p>

  <% end %>
</div>
