<h2>Customers search for "<%= word %>"</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>introduction</th>
      <th>follows</th>
      <th>followers</th>
    </tr>
  </thead>