<h2>Customers search for "<%= word %>"</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>last_name</th>
      <th>first_name</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.last_name %></td>
        <td><%= customer.first_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

