<h2>Posts search for "<%= word %>"</h2>
<table class="table">
  <thead>
    <tr>
      <th>道具名</th>
      <th>説明</th>
      <th>画像</th> <!-- 新しく追加 -->
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.item_name %></td>
        <td><%= post.description %></td>
        <td>
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "post-image" %>
          <% else %>
            <!-- 画像がない場合の表示 -->
            <p>No Image</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
