<div class="container">
  <div class="row">
    <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <h1 class="my-4">About</h1>
      <h5 class="mb-4 mx-auto text-truncate">
        GearViewはキャンプ道具専門のレビューサイトです。<br>
      </h5>
            <%= image_tag "camping-g707d33baa_1280", class: "img-fluid", style: "max-width: 60%;" %>

    </div>
  </div>
</div>